<!DOCTYPE html>
<html lang="ro">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'books/css/styles.css' %}">
    <title>Book List</title>
</head>
<header>
    <img src="{% static 'books/icons/header-icon.svg' %}", alt="." class="header-icon">
    <h1>The Book Spot</h1>
</header>

<body>
    <div class="cart-container">
        <h1 class="cart-title">Place Your Order</h1>

        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="buttons">Place Order</button>
        </form>
    </div>
    
</body>